@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid banner">
    <div class="banner-search-container">
        <div class="container text-center">
            <h3 class="banner-title">2S--XXXXXXXXXXX</h3>
            <form id="searchform" action="~/search">
                <input value="" name="q" id="txt_keyword" class="txt-banner-search" title="键入关键词搜索..." placeholder="键入关键词搜索..." autocomplete="off" type="text"><button id="btn_banner_search" class="btn btn-large btn-search" data-toggle="tooltip" data-placement="bottom" data-original-title="键入关键词搜索..." type="submit"><i class="fa fa-search"></i></button>
            </form>
            <p class="banner-hot">大家在搜: ASP.NET, C#, Bootstrap, Angular, Vue.js</p>
        </div>
    </div>
    <div id="btn_banner_close_animation" class="banner-close-animation" data-toggle="tooltip" data-placement="top" title="" data-original-title="如果您的电脑配置较低，请关闭背景特效">关闭背景特效</div>
</div>
<div id="main" class="container-fluid main">
    <div id="content" class="container">
        <div>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="bottom" title="Tooltip on left">Primary</button>
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Tooltip on left">Default</button>
            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Tooltip on left">Success</button>
            <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Tooltip on left">Warning</button>
            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Tooltip on left">Danger</button>
        </div>
        <section class="row" style="margin: 0;">
            <div class="col-lg-3 col-md-3 col-sm-4 post-items">
                <div class="cover-info">
                    <a href="webqd1702" target="_blank"><h4>js实现中英文切换</h4></a>
                    <small>js实现简单的中英文切换功能</small>
                </div>
                <div class=" wh">
                </div>
                <div class="cover-stat">
                    <i class="fa fa-eye"></i><span class="f10"> &nbsp;154</span>
                    <i class="fa fa-heart"></i><span class="f10"> &nbsp;0</span>
                    <div class="cover-yh">
                        <a href="mem257147" data-container="body" data-toggle="popover" data-placement="top" data-content="记号 " data-original-title="" title="">
                            <i class="fa fa-user-secret"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 post-items">
                <div class="cover-info">
                    <a href="webqd1702" target="_blank"><h4>js实现中英文切换</h4></a>
                    <small>js实现简单的中英文切换功能</small>
                </div>
                <div class=" wh">
                </div>
                <div class="cover-stat">
                    <i class="fa fa-eye"></i><span class="f10"> &nbsp;154</span>
                    <i class="fa fa-heart"></i><span class="f10"> &nbsp;0</span>
                    <div class="cover-yh">
                        <a href="mem257147" data-container="body" data-toggle="popover" data-placement="top" data-content="记号 " data-original-title="" title="">
                            <i class="fa fa-user-secret"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 post-items">
                <div class="cover-info">
                    <a href="webqd1702" target="_blank"><h4>js实现中英文切换</h4></a>
                    <small>js实现简单的中英文切换功能</small>
                </div>
                <div class=" wh">
                </div>
                <div class="cover-stat">
                    <i class="fa fa-eye"></i><span class="f10"> &nbsp;154</span>
                    <i class="fa fa-heart"></i><span class="f10"> &nbsp;0</span>
                    <div class="cover-yh">
                        <a href="mem257147" data-container="body" data-toggle="popover" data-placement="top" data-content="记号 " data-original-title="" title="">
                            <i class="fa fa-user-secret"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 post-items">
                <div class="cover-info">
                    <a href="webqd1702" target="_blank"><h4>js实现中英文切换</h4></a>
                    <small>js实现简单的中英文切换功能</small>
                </div>
                <div class=" wh">
                </div>
                <div class="cover-stat">
                    <i class="fa fa-eye"></i><span class="f10"> &nbsp;154</span>
                    <i class="fa fa-heart"></i><span class="f10"> &nbsp;0</span>
                    <div class="cover-yh">
                        <a href="mem257147" data-container="body" data-toggle="popover" data-placement="top" data-content="记号 " data-original-title="" title="">
                            <i class="fa fa-user-secret"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <h1>Header Resize On Scroll with Animations</h1>
                <p>Cupcake ipsum dolor sit amet lollipop. Macaroon candy cotton candy bear claw macaroon carrot cake pastry icing dessert. Cupcake pastry tart sesame snaps lollipop donut pie. Cookie apple pie toffee lemon drops jelly beans cheesecake sweet roll. Jelly-o soufflé donut candy canes wafer dragée sweet cheesecake. Macaroon caramels pie cookie gummi bears. Ice cream jelly-o toffee cookie gingerbread cookie. Soufflé fruitcake jelly-o jelly chupa chups jelly beans. Dragée marzipan pastry macaroon oat cake muffin soufflé topping liquorice. Jelly-o chocolate cake lollipop.</p>
                <p>Sugar plum muffin cookie pastry oat cake icing candy canes chocolate. Gummi bears chupa chups fruitcake dessert jelly. Muffin cookie ice cream soufflé pastry lollipop gingerbread sweet. Unerdwear.com bonbon candy marzipan bonbon gummies chocolate cake gummi bears powder. Unerdwear.com tart halvah chocolate cake dragée liquorice. Sugar plum chocolate bar pastry liquorice dragée jelly powder. Jelly tootsie roll applicake caramels. Marzipan candy tootsie roll donut. Gummies ice cream macaroon applicake.</p>
                <p>
                    <a href="http://www.callmenick.com/tutorials/create-an-animated-resizing-header-on-scroll">&laquo; Go back to this tutorial?</a><br>
                    <a href="http://www.callmenick.com/tutorials">&laquo; Go back to all tutorials?</a>
                </p>
            </div>
        </section>
        <section class="color">
            <div class="container">
                <h1>Cupcakes for the people!</h1>
                <p>Cupcake ipsum dolor sit amet lollipop. Macaroon candy cotton candy bear claw macaroon carrot cake pastry icing dessert. Cupcake pastry tart sesame snaps lollipop donut pie. Cookie apple pie toffee lemon drops jelly beans cheesecake sweet roll. Jelly-o soufflé donut candy canes wafer dragée sweet cheesecake. Macaroon caramels pie cookie gummi bears. Ice cream jelly-o toffee cookie gingerbread cookie. Soufflé fruitcake jelly-o jelly chupa chups jelly beans. Dragée marzipan pastry macaroon oat cake muffin soufflé topping liquorice. Jelly-o chocolate cake lollipop.</p>
                <p>Sugar plum muffin cookie pastry oat cake icing candy canes chocolate. Gummi bears chupa chups fruitcake dessert jelly. Muffin cookie ice cream soufflé pastry lollipop gingerbread sweet. Unerdwear.com bonbon candy marzipan bonbon gummies chocolate cake gummi bears powder. Unerdwear.com tart halvah chocolate cake dragée liquorice. Sugar plum chocolate bar pastry liquorice dragée jelly powder. Jelly tootsie roll applicake caramels. Marzipan candy tootsie roll donut. Gummies ice cream macaroon applicake.</p>
            </div>
        </section>
        <section>
            <div class="container">
                <h1>Chocolate, vanilla, and red velvet</h1>
                <p>Cupcake ipsum dolor sit amet lollipop. Macaroon candy cotton candy bear claw macaroon carrot cake pastry icing dessert. Cupcake pastry tart sesame snaps lollipop donut pie. Cookie apple pie toffee lemon drops jelly beans cheesecake sweet roll. Jelly-o soufflé donut candy canes wafer dragée sweet cheesecake. Macaroon caramels pie cookie gummi bears. Ice cream jelly-o toffee cookie gingerbread cookie. Soufflé fruitcake jelly-o jelly chupa chups jelly beans. Dragée marzipan pastry macaroon oat cake muffin soufflé topping liquorice. Jelly-o chocolate cake lollipop.</p>
                <p>Sugar plum muffin cookie pastry oat cake icing candy canes chocolate. Gummi bears chupa chups fruitcake dessert jelly. Muffin cookie ice cream soufflé pastry lollipop gingerbread sweet. Unerdwear.com bonbon candy marzipan bonbon gummies chocolate cake gummi bears powder. Unerdwear.com tart halvah chocolate cake dragée liquorice. Sugar plum chocolate bar pastry liquorice dragée jelly powder. Jelly tootsie roll applicake caramels. Marzipan candy tootsie roll donut. Gummies ice cream macaroon applicake.</p>
            </div>
        </section>
        <section class="color">
            <div class="container">
                <h1>Come to me!</h1>
                <p>Cupcake ipsum dolor sit amet lollipop. Macaroon candy cotton candy bear claw macaroon carrot cake pastry icing dessert. Cupcake pastry tart sesame snaps lollipop donut pie. Cookie apple pie toffee lemon drops jelly beans cheesecake sweet roll. Jelly-o soufflé donut candy canes wafer dragée sweet cheesecake. Macaroon caramels pie cookie gummi bears. Ice cream jelly-o toffee cookie gingerbread cookie. Soufflé fruitcake jelly-o jelly chupa chups jelly beans. Dragée marzipan pastry macaroon oat cake muffin soufflé topping liquorice. Jelly-o chocolate cake lollipop.</p>
                <p>Sugar plum muffin cookie pastry oat cake icing candy canes chocolate. Gummi bears chupa chups fruitcake dessert jelly. Muffin cookie ice cream soufflé pastry lollipop gingerbread sweet. Unerdwear.com bonbon candy marzipan bonbon gummies chocolate cake gummi bears powder. Unerdwear.com tart halvah chocolate cake dragée liquorice. Sugar plum chocolate bar pastry liquorice dragée jelly powder. Jelly tootsie roll applicake caramels. Marzipan candy tootsie roll donut. Gummies ice cream macaroon applicake.</p>
            </div>
        </section>
        <section>
            <div class="container">
                <h1>Sugar rush, oh my...</h1>
                <p>Cupcake ipsum dolor sit amet lollipop. Macaroon candy cotton candy bear claw macaroon carrot cake pastry icing dessert. Cupcake pastry tart sesame snaps lollipop donut pie. Cookie apple pie toffee lemon drops jelly beans cheesecake sweet roll. Jelly-o soufflé donut candy canes wafer dragée sweet cheesecake. Macaroon caramels pie cookie gummi bears. Ice cream jelly-o toffee cookie gingerbread cookie. Soufflé fruitcake jelly-o jelly chupa chups jelly beans. Dragée marzipan pastry macaroon oat cake muffin soufflé topping liquorice. Jelly-o chocolate cake lollipop.</p>
                <p>Sugar plum muffin cookie pastry oat cake icing candy canes chocolate. Gummi bears chupa chups fruitcake dessert jelly. Muffin cookie ice cream soufflé pastry lollipop gingerbread sweet. Unerdwear.com bonbon candy marzipan bonbon gummies chocolate cake gummi bears powder. Unerdwear.com tart halvah chocolate cake dragée liquorice. Sugar plum chocolate bar pastry liquorice dragée jelly powder. Jelly tootsie roll applicake caramels. Marzipan candy tootsie roll donut. Gummies ice cream macaroon applicake.</p>
            </div>
        </section>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/js/index")
}