html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; margin: 0; padding: 0; vertical-align: baseline; }

body { color: #333; font-family: "微软雅黑"; font-size: 13px; line-height: 20px; padding-top: 100px; }
h1, h2, h3, h4, h5, h6 { clear: both; font-weight: normal; }
ol, ul { list-style: none; }
blockquote { quotes: none; }
    blockquote:before, blockquote:after { content: ''; content: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */

table { border-collapse: collapse; border-spacing: 0; }

a img { border: none; }

*,
*:before,
*:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }
*::-moz-placeholder { color: #666666; }

h1, h2, h3, h4, h5, h6 { font-weight: 300; line-height: 1; }
a { color: #1176eb; text-decoration: none; -webkit-transition: color .3s linear; -moz-transition: color .3s linear; -ms-transition: color .3s linear; -o-transition: color .3s linear; transition: color .3s linear; }
    a:hover { color: #3cb5f9; text-decoration: none !important; }
header .navbar-inverse .navbar-nav > li > a { color: #3cb5f9; text-decoration: none; -webkit-transition: color .3s linear; -moz-transition: color .3s linear; -ms-transition: color .3s linear; -o-transition: color .3s linear; transition: color .3s linear; }
.navbar-inverse .navbar-nav > li > a:hover { color: #0A7CBD; }
.nav > li > a { font-size: 12px; }

/*header begin*/
/*http://www.callmenick.com/tutorials/create-an-animated-resizing-header-on-scroll*/
header { -moz-transition: height 0.3s; -ms-transition: height 0.3s; -o-transition: height 0.3s; -webkit-transition: height 0.3s; left: 0; overflow: hidden; position: fixed; top: 0; transition: height 0.3s; width: 100%; z-index: 999; }

    header a.logo { -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; color: white; display: inline-block; font-size: 40px !important; font-weight: 400; transition: all 0.3s; line-height: 40px; margin-top: 5px; }
    header nav { margin-bottom: 15px; }
        header nav a { -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; color: #9fdbfc; transition: all 0.3s; font-size: 13px !important; }
    header nav { padding-top: 3px; padding-bottom: 3px; -moz-transition: padding 0.3s; -ms-transition: padding 0.3s; -o-transition: padding 0.3s; -webkit-transition: padding 0.3s; transition: padding 0.3s; }
        header nav a:hover { color: white; }
    header.smaller { /*height: 50px; line-height: 50px;*/ }
        header.smaller a.logo { font-size: 35px !important; }
        header.smaller nav { padding-top: 0; padding-bottom: 0; }
            header.smaller nav a { font-size: 13px !important; }

.navbar-inverse { background-color: #000; border-bottom: 1px solid #212121; }

/*header end*/

/*banner begin*/
.banner { background-color: #17181c; background-position: center 0; background-repeat: no-repeat; height: 404px; position: fixed; top: 50px; width: 100%; z-index: 1; padding: 0; }
.banner-iframe { border-width: 0; height: 100%; width: 100%; }
.main { background-color: #f4f4f4; margin-top: 355px; padding-left: 0; padding-right: 0; padding-top: 20px; position: relative; z-index: 2; }
.banner-close-animation { background-color: rgba(255, 255, 255, 0.13); border-radius: 5px; bottom: 10px; color: #656565; cursor: pointer; font-size: 12px; padding: 3px 5px; position: absolute; right: 10px; }
.banner-search-container { position: absolute; left: 0; right: 0; margin: auto; top: 120px; min-height: 80px; }
#searchform { margin-bottom: 17px; }
    #searchform .btn:not(.btn-primary), #searchform input:not(:focus) { background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0; }
    #searchform input { border: 0 none; font-size: 18px; display: inline-block; box-sizing: content-box; }
    #searchform button, #searchform input { box-shadow: 0 2px 5px rgba(0, 0, 0, 0.04); transition: background 0.3s linear; }
.txt-banner-search { width: 600px; border: medium none; border-radius: 2px 0 0 2px; padding: 12px 15px; height: 26px; vertical-align: middle; color: #333; }
#btn_banner_search { font-size: 22px; height: 50px; padding: 12px 25px; text-align: center; border-radius: 0 2px 2px 0 !important; box-shadow: none; display: inline-block; background-color: #333; }
    .search-on #btn_banner_search, #btn_banner_search:hover { background-color: #1176eb !important; }
    #btn_banner_search i { color: #fff; }
.banner-title { margin-bottom: 30px; color: #fff; font-size: 36px; font-weight: bold; line-height: 36px; }
.banner-hot { padding-top: 10px; color: #555; }
/*banner end*/

/*list begin*/
.post-items-container { padding: 0; }
.post-items { background-color: #fff; border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18); margin-bottom: 20px; margin-left: 5px; margin-right: 5px; overflow: hidden; position: relative; transition: all 1s ease 0s; padding-left: 5px; padding-right: 5px; }
/*list end*/


/*footer begin*/
.back-to-top { position: fixed; right: 25px; bottom: 20px; z-index: 2; display: none; }
    .back-to-top a { background-color: rgba(225, 225, 225, 0.5); border-radius: 3px; cursor: pointer; font-size: 24px; padding: 0 8px 3px; line-height: 24px;}
